/* .plane-container {
  z-index: 1;
  width: 100vw;
}
.plane {
  width: 100vw;
  position: absolute;
  top: 70px;
  left: 0;
  height: 90vh;
}
.planePath {
  stroke: #d9dada;
  stroke-width: 0.1%;
  stroke-width: 0.5%;
  stroke-dasharray: 1% 2%;
  stroke-linecap: round;
  fill: none;
}
 */

.plane-container {
  -webkit-animation: paper-plane-scoping 3s alternate;
  -moz-animation: paper-plane-scoping 3s alternate;
  animation: paper-plane-scoping 3s alternate;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}
@keyframes paper-plane-scoping {
  0% {
    -webkit-transform: translate(-50vw, -100px);
    -moz-transform: translate(-50vw, -100px);
    transform: translate(-50vw, -100px);
  }
  100% {
    -webkit-transform: translate(50vw, 50px);
    -moz-transform: translate(50vw, 50px);
    transform: translate(50vw, 50px);
  }
}
.plane {
  transform: rotate(-10deg);
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

/* TITLE ANIMATION */
svg text {
  font-family: "Open Sans", sans-serif;
  stroke: rgba(192, 91, 239, 0.72);
  font-size: 4rem;
  font-weight: 700;
  stroke-width: 2.5;
  animation: textAnimate 6s infinite alternate;
}
@media only screen and (min-width: 500px) {
  svg text {
    font-size: 4.8rem;
  }
}
@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: rgba(198, 119, 243, 0.705);
  }
  60% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: rgba(203, 139, 233, 0.432);
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
    fill: rgba(255, 222, 131, 0.733);
    fill: rgba(198, 156, 252, 0.616);
    fill: transparent;
  }
}
