.plane-container {
  z-index: 1;
  width: 100vw;
}
.plane {
  width: 100vw;
  position: absolute;
  top: 70px;
  left: 0;
  height: 90vh;
}
/*Paper Plane: Animation*/
/* .plane-container {
  -webkit-animation: paper-plane-scoping 3s infinite;
  -moz-animation: paper-plane-scoping 3s infinite;
  animation: paper-plane-scoping 3s infinite;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}
@keyframes paper-plane-scoping {
  0% {
    -webkit-transform: translate(-50vw, 0px);
    -moz-transform: translate(-50vw, 0px);
    transform: translate(-50vw, 0px);
  }
  100% {
    -webkit-transform: translate(50vw, 100px);
    -moz-transform: translate(50vw, 100px);
    transform: translate(50vw, 100px);
  }
}
.plane {
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-animation: paper-plane-soaring 3s forwards;
  -moz-animation: paper-plane-soaring 3s forwards;
  animation: paper-plane-soaring 3s forwards;
}
@keyframes paper-plane-soaring {
  0% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    transform: rotate(50deg);
  }
} */
.planePath {
  stroke: #d9dada;
  stroke-width: 0.1%;
  stroke-width: 0.5%;
  stroke-dasharray: 1% 2%;
  stroke-linecap: round;
  fill: none;
}
